.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */
body
{
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 50px;
}
